* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  /* position: fixed; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  /* background: transparent; */
  background-color: #333;
  color: white;
}
nav img:first-child {
  /* margin-top: 30px; */
  margin-left: 80px;
  height: 30px;
}
.nav-items {
  display: flex;
  /* margin-top: 30px; */
  margin-left: 80px;
}
.nav-item {
  margin: 0 30px;
  font-size: 17px;
  cursor: pointer;
}
nav img:last-child {
  /* margin-top: 30px; */
  margin-right: 80px;
  height: 35px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  margin: 50px;
  height: 30vh;
}
.basic {
  display: flex;
  gap: 50px;
}
.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
}
.btn {
  margin-top: 30px;
}
.form input {
  border-radius: 9px;
  padding: 10px;
  padding-right: 10px;
}
.meal-plan {
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* border-radius: 5px; */
  /* justify-content: center; */
  /* align-items: center; */
}
.meal-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 9px;
}

.meal-cards img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.meal-card h1 {
  margin: 10px 0;
  font-size: 24px;
  text-align: center;
}
.meal-card p {
  margin: 5px 0;
  font-size: 16px;
}

.meal-cards {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

  display: flex;
  align-items: center;
  flex-direction: column;
  /* animation: slide-in 0.5s ;
  animation-fill-mode: forwards;
  opacity: 0; */
  animation: flip-in 0.9s ease-in-out;
  opacity: 1;
  /* backface-visibility: show; */
}
.meal-card button {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4c82af;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.meal-card button:hover {
  background-color: #6be494;
}
.get-recipe {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.recipes {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #83747467;
  margin-top: 30px;
}
.heading {
  margin-top: 30px;
}
.Equipm {
  margin-top: 30px;
}
.Equipm li {
  padding: 10px;
  /* text-align: center; */
  list-style-type: none;
}
button {
  cursor: pointer;
  padding: 4px;
  width: 150px;
  border-radius: 7px;
  border-color: #4c82af;
}
#gender {
  padding: 4px;
  width: 150px;
  border-radius: 7px;
  border-color: #4c82af;
}
#activity {
  padding: 4px;
  width: 150px;
  border-radius: 7px;
  border-color: #4c82af;
}
/* @keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */
@keyframes flip-in {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}
